  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.titulo{
    text-align: center;
}

.grey-text{
    font-size: 20px;
    text-align: justify;
}
